node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.playwright-mcp/
.playwright-cli/
.playwright/
config/.env
.env*
.flaskenv*
!.env.project
!.env.vault
.auth
blob-report/
.vercel
cleanup-results/
data-import-files/
downloads/
dynamic-documents/
apiSetupResults/