node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
config/.env
.env*
.flaskenv*
!.env.project
!.env.vault
.auth
blob-report/
browserstack.yml
playwright-browserstack-sdk.config.js
usage.log